
/.stfolder

/.obsidian/plugins/aprils-automatic-timelines/main.sync-conflict-20251006-004428-M7QFWIS.js
/.obsidian/plugins/aprils-automatic-timelines/styles.sync-conflict-20251006-004414-M7QFWIS.css
/.obsidian/plugins/homepage/main.sync-conflict-20251006-004421-M7QFWIS.js
/.obsidian/plugins/homepage/styles.sync-conflict-20251006-004419-M7QFWIS.css
/.obsidian/plugins/iconic/main.sync-conflict-20251006-004425-M7QFWIS.js
/.obsidian/plugins/iconic/styles.sync-conflict-20251006-004425-M7QFWIS.css
/.obsidian/plugins/obsidian-excalidraw-plugin/main.sync-conflict-20251006-004424-M7QFWIS.js
/.obsidian/plugins/obsidian-git/main.sync-conflict-20251006-004425-M7QFWIS.js
/.obsidian/plugins/obsidian-git/styles.sync-conflict-20251006-004417-M7QFWIS.css
/.obsidian/plugins/obsidian-style-settings/main.sync-conflict-20251006-004431-M7QFWIS.js
/.obsidian/plugins/obsidian-style-settings/styles.sync-conflict-20251006-004424-M7QFWIS.css
/.obsidian/plugins/pdf-plus/main.sync-conflict-20251006-004432-M7QFWIS.js
/.obsidian/plugins/pdf-plus/styles.sync-conflict-20251006-004414-M7QFWIS.css
/.obsidian/plugins/quickadd/main.sync-conflict-20251006-004417-M7QFWIS.js
/.obsidian/plugins/quickadd/styles.sync-conflict-20251006-004419-M7QFWIS.css
/.obsidian/plugins/table-editor-obsidian/main.sync-conflict-20251006-004426-M7QFWIS.js
/.obsidian/plugins/table-editor-obsidian/styles.sync-conflict-20251006-004429-M7QFWIS.css
/.obsidian/plugins/templater-obsidian/main.sync-conflict-20251006-004428-M7QFWIS.js
/.obsidian/plugins/templater-obsidian/styles.sync-conflict-20251006-004419-M7QFWIS.css
/.obsidian/themes/ITS Theme/theme.sync-conflict-20251006-004413-M7QFWIS.css
/.obsidian/themes/Obsidianite/theme.sync-conflict-20251006-004422-M7QFWIS.css
/.obsidian/themes/Obuntu/theme.sync-conflict-20251006-004427-M7QFWIS.css
/.obsidian/themes/Red Graphite/theme.sync-conflict-20251006-004421-M7QFWIS.css
/.obsidian/themes/Terminal/theme.sync-conflict-20251006-004431-M7QFWIS.css
/.obsidian/themes/Things/theme.sync-conflict-20251006-004426-M7QFWIS.css

/Resources/Maelis NightHollow.pdf
z_Resources/Dialogue/.~lock.Maelis meets Corelia.odt\#
*.odt#

/.obsidian/workspace.json